{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/PIE.js"></script>
<![endif]-->
<meta name="keywords" content="*">
<meta name="author" content="Duranjo Web C.A.">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
<title>{% block title %} {% endblock%}</title>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
	<!-- Analytics SCRIPT GOOGLE! -->
	<!--<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  //Se debe cambiar esto cuando se haga X página.
	  ga('create', 'UA-*********-1', '*******.com');
	  ga('send', 'pageview');
	</script> -->
	<header id="home" class="cabecera">
		<div class="wrapper">
			<div class="logoNombre">
				<img src="" alt="logo de sipreca">
				<h1>Sistemas prefabricados ecológicos</h1>
			</div>
			<nav class="barraNavegacion">
				<ul>
					<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
					<li class="works"><a href="{% url 'homepageabout' %}">Quienes somos</a></li>
					<li class="services"><a href="{% url 'homepageobras' %}">Obras</a></li>
					<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a></li>
				</ul>	
				{% block navi %} 
				{% endblock%}
			</nav>
		</div>
	</header>
	<section class="contenido">
		{% block contenido %} {% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<footer>
		{% block footer %}{% endblock%}
		<div class="wrapper">
			<div class="footerSection">
				<ul>
					<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
					<li class="works"><a href="{% url 'homepageabout' %}">¿Quienes somos?</a></li>
					<li class="services"><a href="{% url 'homepageobras' %}">Obras</a></li>
					<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a></li>
				</ul>
			</div>
			<div class="footerSection">
				<div class="telefono"></div>
				<ul class="telefonosLista">
					<li>(+58) 261 7577677</li>
					<li>(+58) 261 7579510</li>
					<li>(+58) 261 7572902</li>
				</ul>
			</div>
			<div class="footerSection">
				<div class="correo"></div>
				contacto@sipreca.com
			</div>
			<div class="footerSection">
				<div class="direccion"></div>
				Maracaibo-Estado Zulia, Venezuela.
			</div>
			<div class="footerSection">
				Sipreca
				Duranjo
				Tecno usada
			</div>  
		</div>
		<div class="copyright">Copyright 2013 - Todos los derechos reservados.</div>
	</footer>
</body>
</html>